*{
    font-family: sans-serif;
}
.body{
    height: 100%;
    width:100%;
}
.headbar{
    background-color: rgb(255,225,65);
}
.headbar div.container{
    max-width: 100%!important;
}
.headbar .icon{
    width:120px;
    height: 85%;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
}
.headbar .icon:hover{
    background-color:  rgba(145, 126, 23, 0.397);   
}
.icon img{
    height:60%;
    margin: 5px;
}

.headbar .address{
width:300px;
display: flex;
align-items: center;
cursor: pointer;
}
.headbar .address .aicon{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: turquoise;
margin-left: 10px;
}

.headbar .address .addhead{
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}
.headbar .address .addfoot{
    margin-left: 5px;
    font-size: 15px;
}
.headbar .search{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    
}
.headbar .search .sicon{
    position: absolute;
    left: 30px;
    color: silver;
    font-size: 20px;
}
.headbar .search input{
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin: 20px;
    height: 40px;
    padding-left:50px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
}
.headbar .category{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    cursor: pointer;
    
}
.headbar .category:hover{
    background-color:  rgba(145, 126, 23, 0.397);
}
.headbar .login{
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    height: 100%;
    color: black;
}
.headbar .login:hover{
    background-color:  rgba(145, 126, 23, 0.397);
}
.headbar .my-cart{
    
    width:140px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.headbar .my-cart button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 12px;
    background-color: rgb(69,146,32);
    border: none;
}

.headbar .my-cart button i{
    margin-right: 5px;
}

.slider{
    position: relative;
    margin-top:40px ;
    display: flex;
    justify-content: center;
    align-content: center;
}
.simg{
    border-radius: 10px;
    width: 800px;
}
.right-arrow{
    position: absolute;
    top:45%;
    right:70px;
    font-size: 3rem;
    cursor: pointer;
   user-select: none;
}
.left-arrow{
position:absolute ;   
 top:45%;
    left:100px;
    font-size: 3rem;
    cursor: pointer;
   user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.breakcont{
    display: flex;
}
.Fruitcont{
    display: flex;
}
.Madicalcont{
    display: flex;
}