.main{
    overflow-y: auto;   
    margin-left: 30px;
    margin-right: 20px;
    /* background-color : violet; */
    display: grid;
    /* height: 100%; */
    grid-template-rows: 200px 200px 500px 350px 350px 350px ;
    row-gap: 10px;
    padding-top: 65px;
    
}
.main .offerimg{
    width:100%;
    cursor: pointer;
}
.main .offerimg img{
    width: 99%;
}
.main .p1img{
display: grid;
grid-template-columns: 4fr 4fr 4fr 4fr;
column-gap: 5px;
cursor: pointer;
}
.main .slides{
    margin-top: 10px;
}
.main .p1 .text1 .tt1{
    color: black;
    font-size: 20px;
    font-weight: bold;  
}
.main .p1 .text1 .tt2{
    color: gray;
    margin-bottom: 20px;
}

.main .p2 .text2 .tt1{
    font-size: 20px;
    font-weight: bold;
}
.main .p2 .text2 .tt2{
    color: gray;
    margin-bottom: 20px;
}

.main .p3 .text3 .tt1{
    font-size: 20px;
    font-weight: bold;
}
.main .p3 .text3 .tt2{
    color: gray;
    margin-bottom: 20px;
}

